<div class="card" >
    <div class="card-body">
        <div class="mb-3">
            <h5 class="card-title">PUBLICADOR</h5>
        </div>
        <form action="/publisher" method="post">
            <div class="mb-3">
                <input type="text" class="form-control" name="chanal" placeholder="Chanal" autofocus required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="message" placeholder="Message" required>
            </div>
            <div class="row gap-5 mb-3 justify-content-center" style="align-items: ;">
                <button class="col-3  btn btn-primary " >
                    Generate
                </button>
                <a href="/consumer" class="col-5 btn btn-dark ">Abrir consumidor</a>
            </div>

        </form>
    </div>
</div>