<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://jhon50420.github.io/DMAIND/">
      <img src="https://raw.githubusercontent.com/jhon50420/DMAIND/main/imagenes/Logo%20Dmind.svg" alt="" width="80" height="60" class="">
      <label style="font-size: 25px;">DMIND</label>
    </a>
  </div>
</nav>